.bio {
    padding: 15px;
}

.profile-container .mast {
    margin-bottom: 0;
    padding-bottom: 0 !important;
}

.profile-container .message-btn {
    float: right;
}

.bio .stats {
    margin-right: 10px;
}