.feed-container .editor {
    color: #FFF;
    padding: 15px;
    padding-bottom: 5px;
}

.feed-container .editor textarea {
    width: 100%;
    border: 0;
    background: transparent;
    padding: 15px;
    outline: 0;
    font-weight: bolder;
}

.feed-container .editor .preview img {
    width: 150px;
    border: 2px dashed #38444b;
    padding: 3px;
}

.feed-container .editor .preview .image-cross {
    position: relative;
    bottom: 72px;
    right: 10px;
    color: #FFF;
}

.feed-container .editor .preview .image-cross:hover {
    color: #1da1f2;
}

.feed-container .editor .plength {
    position: relative;
    top: -3px;
}

.feed-container .editor .clear-post {
    margin-right: 10px;
}

.feed-container .action-bar {
    margin-top: 10px;
}

.feed-container .ant-progress {
    position: relative;
    bottom: 4px;
    left: 14px;
}

.feed-container .action-bar button.icon-btn {
    background: transparent;
    color: #1da1f2;
    font-weight: bold;
    font-size: 21px;
    border-radius: 50%;
    cursor: pointer;
    border-color: transparent;
    margin-right: 5px;
}

.feed-container .news-feed {
    overflow-y: auto;
    height: 100vh;
}

.feed-container .news-feed .post-card .icon {
    background: transparent;
    cursor: pointer;
    border-color: transparent;
    border-radius: 50%;
}

.feed-container .action-bar button.icon-btn:hover {
    background: #365779;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.feed-container .news-feed .post-card .icon:hover {
    color: #1da1f2;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
}

.feed-container .action-bar button.float-right {
    float: right;
}

.feed-container .news-feed {
    border-top: 1px solid #38444c;
    color: #FFF;
}

.feed-container .news-feed h4 {
    color: #FFF !important;
    font-weight: 900;
    margin: 0;
    padding: 0;
    font-size: 15px;
    display: inline-block;
}

.feed-container .news-feed .header {
    height: 22px;
    width: 100%;
    display: inline-block;
}

.feed-container .news-feed .header .action-delete {
    float: right;
}

.feed-container .time-ago {
    font-size: 13px;
    margin-left: 6px;
    font-weight: bold;
    color: #8799a6;
}

.feed-container .news-feed h4 .stats-mini {
    color: #8395a2;
    font-weight: bold;
    font-size: 13px;
}

.feed-container .news-feed .content img {
    width: 100%;
    border-radius: 5px;
}

.feed-container .news-feed .post-card {
    border-bottom: 1px solid #38444b;
    padding: 15px;
}