@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');

body {
    background: #16202c;
    color: #FFF;
    font-family: 'Nunito', sans-serif;
}

.hide {
    display: none !important;
}

.main-app,
.main-app .main-row {
    height: 100%;
}

.main-app .logo {
    float: right;
}

.main-app .logo img {
    width: 100px;
    position: relative;
    right: 79px;
}

.center-col {
    border-left: 1px solid #38444c;
    border-right: 1px solid #38444c;
    height: 100%;
    color: #FFF;
}

.ant-progress-text {
    color: #FFF !important;
}

.space-combined-input label {
    display: block;
    font-weight: bold;
}

.ml-20 {
    margin-left: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ant-form-item-label > label {
    color: #FFF;
}

.ant-input,
.ant-input[disabled] {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #365678;
    width: 100%;
    resize: none;
    outline: 0;
    color: #FFF;
}

.ant-input:focus {
    border: 0;
    outline: 0;
}

.space-badge {
    position: relative;
    bottom: 23px;
    right: 22px;
}

.space-badge .ant-badge-count {
    box-shadow: none;
}

.space-input {
    background: transparent;
    border: transparent;
    outline: 0;
    border-bottom: 1px solid #365678;
    width: 100%;
    margin-bottom: 10px;
    resize: none;
}

.text-center {
    text-align: center;
}

.danger {
    color: #f50;
}

.center-col .mast {
    color: #FFF;
    padding: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 900;
}

.list-unstyled {
    list-style: none;
}

.side-menu ul {
    float: right;
    margin-right: 33px;
    position: relative;
    top: -5px;
    clear: both;
}

.side-menu ul li a {
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px;
    border-radius: 50px;
    color: #FFF;
}

.side-menu ul li a .anticon {
    margin-right: 10px;
}

.side-menu ul li a:hover {
    background: #365779;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.side-menu ul li a.active {
    background: #365779;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.side-menu ul li a {
    font-size: 1.5em;
    font-weight: bold;
}

.side-menu ul li {
    margin: 35px 0 20px;
}